<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>



<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCGkGvNxDW7dngxYz72R8eqz2DWrFbFsRo",
    authDomain: "bus-tracker-e4ddd.firebaseapp.com",
    databaseURL: "https://bus-tracker-e4ddd.firebaseio.com",
    projectId: "bus-tracker-e4ddd",
    storageBucket: "bus-tracker-e4ddd.appspot.com",
    messagingSenderId: "1024300046403"
  };
  firebase.initializeApp(config);
</script>



<title>Bus Tracking System</title>

<script src='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.css' rel='stylesheet' />

<script src='https://static-assets.mapbox.com/gl-pricing/dist/mapbox-gl.js'></script>   
<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
  
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.2/mapbox-gl-geocoder.min.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.2/mapbox-gl-geocoder.css' type='text/css' />

<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.mapbox.css' rel='stylesheet' />
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/css/font-awesome.min.css' rel='stylesheet' />


</head>
<body>
   <div>
     <h1>Map </h1></br>
   </div>
    
    <div  id='map' style='width: 1850px; height: 500px;'></div>
    <pre id='info'></pre>
  <h1>Our Drivers</h1>
  <ul>
      <% array.forEach(function(driver){ %>
        <%- driver.username %><br>
      <% }); %>
    </ul>
    
        
        <button  id="signout" type="button" onclick={signoutfromGoogle()} class="btn btn-primary" style="display:none; color: red; visibility:visible;">
            Sign Out with Google
        </button>
        <button  id="google-signin" onclick={signInWithGoogle()} type="button" class="btn btn-primary" style="display:none; visibility:visible;">
            Sign In with Google
        </button>
          </form>
          <h1>Create a new user</h1>
          <button id=add-user type="button" class="btn btn-primary" onclick="window.location.href = 'http://127.0.0.1:8080/add/user';">Create User</button>   
          <h1>Create a new Driver</h1>
          <button id=add-driver onclick="window.location.href = 'http://127.0.0.1:8080/add/user';" type="button" class="btn btn-primary">Create Driver</button>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>






    
    






<script>
  L.mapbox.accessToken = 'pk.eyJ1IjoiaXRhY2hpMTIzIiwiYSI6ImNqdXFzdWdwNTNzMWg0NHBqbDRzZmhyNDIifQ.daYdD-DlyAtoJpCExRO7xg';
  var map = L.mapbox.map('map')
    .setView([ 24.9056,67.1432527160645], 10.7)
    .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));

    

//firebase work
var db=firebase.database()
var ref = db.ref("/drivers");
driverlist=[]
markerdrivers=[]
driverinfo=[]
//change in firebase will run this function
    ref.on("value", function(snapshot) {
      emptydmap()
    snapshot.forEach(function(data) {
      driverinfo.push(data.val().username)
      console.log(data.val().username)
      var arr =  new mapboxgl.LngLat(  data.val().lg,data.val().lt);
      console.log(arr);
      driverlist.push(arr);
     
    });
    mapmarkdriver(driverlist)

  });

  function mapmarkdriver(driverlist)
  {
    //for driver marker
    for(i=0;i<driverlist.length;i++)
    {
      p=i+1
      console.log(i)
        var marker = L.marker(driverlist[i], {
        icon: L.mapbox.marker.icon({
          'marker-color': '#f86767'
        })
    });
    //for online popup
    marker.bindPopup('Driver Online '+driverinfo[i])

      marker.addTo(map);
      markerdrivers.push(marker)
   
    }

  }



var ref = db.ref("/users");
  userlist=[]
  markerusers=[]
  userinfo=[]
  //change in firebase will run this function
ref.on("value", function(snapshot) {

  emptyumap()

  snapshot.forEach(function(data) {
      console.log("The " + data.key + "  score is " + data.val().lt  + data.val().lg);
      var arr =  new mapboxgl.LngLat( data.val().lg,data.val().lt);
      console.log(arr);
      userinfo.push(data.val().username) //pushing username of user in array
      userlist.push(arr)
    
      
    });

    mapmarkuser(userlist)
});  


function mapmarkuser(userlist)
  {
      //mark on map
    for(i=0;i<userlist.length;i++)
    {
      p=i+1
      console.log(i)
        var marker = L.marker(userlist[i], {
        icon: L.mapbox.marker.icon({
          'marker-color': '#f4a442'
        })
    });
    //popup online
    marker.bindPopup('User Online '+ userinfo[i])
    
      marker.addTo(map);
      markerusers.push(marker);

   
    }

  }

  function emptyumap() {
    //empty your array
    
    //empty markers from map    
    markerusers.forEach(function(entry) {
                map.removeLayer(entry);
            });

    userlist.length = 0;
    
}
function emptydmap() {
    //empty your array
    markerdrivers.forEach(function(entry) {
                map.removeLayer(entry);
            });

    driverlist.length = 0;
    
    
}


  
</script>

<script src="js/Auth.js" ></script>
<script src="js/firebase.js" ></script>    
</body>
</html>