<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>



<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCGkGvNxDW7dngxYz72R8eqz2DWrFbFsRo",
    authDomain: "bus-tracker-e4ddd.firebaseapp.com",
    databaseURL: "https://bus-tracker-e4ddd.firebaseio.com",
    projectId: "bus-tracker-e4ddd",
    storageBucket: "bus-tracker-e4ddd.appspot.com",
    messagingSenderId: "1024300046403"
  };
  firebase.initializeApp(config);
</script>



<title>Document</title>


<script src='https://static-assets.mapbox.com/gl-pricing/dist/mapbox-gl.js'></script>   
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    

    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.2/mapbox-gl-geocoder.min.js'></script>
   <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.2/mapbox-gl-geocoder.css' type='text/css' />




   <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.mapbox.css' rel='stylesheet' />
<!--[if lt IE 9]>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.ie.css' rel='stylesheet' />
<![endif]-->
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/css/font-awesome.min.css' rel='stylesheet' />


</head>
<body>
   
    <div id='map' style='width: 1000px; height: 600px;'></div>
    <pre id='info'></pre>

    
        
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="mail" aria-describedby="emailHelp" placeholder="Enter email">
              
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputName">Name</label>
                <input type="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter Name">
                
              </div>
              <div class="form-group">
                <label for="exampleInputUsername">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter Username">
              </div>
              <div class="form-group">
                <label for="exampleInputPhone">Phone</label>
                <input type="text" class="form-control" id="phone" placeholder="Enter Phone">
              </div>
         <button id="admin" onclick={addadmin()} type="button" class="btn btn-primary"> submit </button>
        <button onclick={signout()} style="display:none; visibility:hidden " id="signout" type="button" class="btn btn-primary">
            Sign Out with Google
        </button>
        <button  id="google-signin" onclick={signInWithGoogle()} type="button" class="btn btn-primary">
            Sign In with Google
        </button>
          </form>   
    <script src="js/Auth.js" ></script>
    <script src="js/firebase.js" ></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>






<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiaXRhY2hpMTIzIiwiYSI6ImNqdXFzdWdwNTNzMWg0NHBqbDRzZmhyNDIifQ.daYdD-DlyAtoJpCExRO7xg';
    var map = new mapboxgl.Map({
      container: 'map', // HTML container id
      style: 'mapbox://styles/mapbox/streets-v11', // style URL
      center: [-21.92661562, 64.14356426], // starting position as [lng, lat]
      zoom: 13
    });
    
    var popup = new mapboxgl.Popup()
    .setHTML('<h3>Reykjavik Roasters</h3><p>A good coffee shop</p>');
    


    // map.addControl(new MapboxGeocoder({
    // accessToken: mapboxgl.accessToken,
    // mapboxgl: mapboxgl
    // }));

    // map.addControl(geocoder);

    //firebase work
var db=firebase.database()
var ref = db.ref("/drivers");

    ref.once("value", function(snapshot) {
    snapshot.forEach(function(data) {
      console.log("The " + data.key + " dinosaur's score is " + data.val().lt  + data.val().lg);
      var arr =  new mapboxgl.LngLat( data.val().lg, data.val().lt);
      console.log(arr);
     
      var marker = new mapboxgl.Marker()
    .setLngLat( arr)
    .setPopup(popup)
    .addTo(map);
    });
  });
 
//     map.on('mousemove', function (e) {
// document.getElementById('info').innerHTML =
// // e.point is the x, y coordinates of the mousemove event relative
// // to the top-left corner of the map
// JSON.stringify(e.point) + '<br />' +
// // e.lngLat is the longitude, latitude geographical position of the event
// JSON.stringify(e.lngLat); 
// var l=e.lngLat.toArray(); // e.lngLat coordinates
//      // marker
//     var marker = new mapboxgl.Marker()
//     .setLngLat([l[0],l[1]])
//     .setPopup(popup)
//     .addTo(map);

//     console.log(l)
// });



</script>
    

</body>
</html>